{% extends 'base.html.twig' %}

{% block title %}Редактирование курса "{{course.title}}"{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Редактирование курса "{{course.title}}"</h1>
</div>

    {{ include('course/_form.html.twig', {'button_label': 'Сохранить'}) }}
<div class="container p-2">
    <a class="btn btn-success" href="{{ path('app_course_show', {'id':course.id}) }}">Вернуться</a>
</div>
    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
