{% extends 'base.html.twig' %}

{% block title %}Редактирование урока {{lesson.title}}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Редактирование урока {{lesson.title}}</h1>
</div>

    {{ include('lesson/_form.html.twig', {'button_label': 'Сохранить'}) }}
<div class="container p-2">
    <a class="btn btn-success" href="{{path('app_course_show', {'id': lesson.course.id}) }}">Вернуться</a>

    {{ include('lesson/_delete_form.html.twig') }}
</div>
{% endblock %}
