{% extends 'base.html.twig' %}

{% block title %}{{lesson.course.title}} / {{lesson.title}}{% endblock %}

{% block body %}
<div class="container p-2 mt-5">
    <h1 class="lesson_title">{{ lesson.title }}</h1>
    <h2> <a class="text-dark course_title" href="{{path('app_course_show', {'id': lesson.course.id}) }}">{{lesson.course.title}}</a></h2>

    <p class="lesson_content"> {{ lesson.content }} </p>
    <a class="btn btn-success" href="{{path('app_course_show', {'id': lesson.course.id}) }}">Вернуться</a>
    <a class="btn btn-success"  href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">Редактировать</a>
    {{ include('lesson/_delete_form.html.twig') }}
</div>
{% endblock %}
