<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
       {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
              crossorigin="anonymous">#}
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
   {# <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{{ path('app_course_index') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="{{ asset('upload/LogoSite.jpg') }}" class="bi me-2" width="50" height="50" role="img" aria-label="study" alt="">
                    <h3> Study On</h3>
                </a>
                <div class="text-end">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                        <a type="button" class="btn btn-warning" href="#">Профиль</a>

                        <a type="button" class="btn btn-danger" href="{{ path('app_logout') }}">Выход</a>
                    {% else %}
                        <a type="button" class="btn btn-outline-light me-2" href="{{ path('app_login') }}">Авторизация</a>
                        <a type="button" class="btn btn-warning" href="{{ path('app_register') }}">Регистрация</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>#}
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom p-3 bg-dark text-white">
        <a href="{{ path('app_course_index') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="{{ asset('upload/LogoSite.jpg') }}" class="bi me-2" width="50" height="50" role="img" aria-label="study" alt="">
            <h3 class="text-white"> Study On</h3>
        </a>

        <ul class="nav nav-pills">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item"> <a type="button" class="btn btn-warning" href="{{ path('profile') }}">Профиль</a></li>
                <li class="nav-item">   <a type="button" class="btn btn-danger" href="{{ path('app_logout') }}">Выход</a></li>

            {% else %}
            <li class="nav-item"><a type="button" class="btn btn-outline-light me-2" href="{{ path('app_login') }}">Авторизация</a></li>
            <li class="nav-item"><a type="button" class="btn btn-warning" href="{{ path('app_register') }}">Регистрация</a></li>
            {% endif %}
        </ul>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
